{% load static %}

<!-- Top Bar -->
<nav class="navbar">
    <div class="col-12">

        <div class="navbar-header">
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="{% url 'adminpanel:dashboard' %}">BoffinBot Admin Panel</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:void(0);" class="fullscreen hidden-sm-down" data-provide="fullscreen"
                   data-close="true" title="Fullscreen">
                    <i class="zmdi zmdi-fullscreen"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="info-container">
            <div class="name"
                 data-toggle="dropdown">{{ request.user.first_name }} {{ request.user.last_name }}</div>
            <div class="email">{{ request.user.email }}</div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a href="{% url 'adminpanel:dashboard' %}">
                    <i class="zmdi zmdi-home"></i><span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'adminpanel:all_blogs' %}">
                    <i class="zmdi zmdi-collection-folder-image"></i><span>Blog</span>
                </a>
            </li>
            <li>
                <a href="{% url 'adminpanel:registered_users' %}">
                    <i class="zmdi zmdi-accounts"></i><span>Users</span>
                </a>
            </li>
            <li>
                <a href="{% url 'adminpanel:scheduled_tweets' %}?is_active=1">
                    <i class="zmdi zmdi-timer"></i><span>Scheduled Tweets</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
</aside>