{% extends "patient_ui/theme/base.html" %}
{% load static %}
{% load humanize %}
{% load decorators %}

{% block extracss %}
    <style>
        .row.profile_state.list-unstyled a {
            display: inline-block;
            width: 100%;
        }

        .profile_state li {
            border-bottom: 1px solid #eee;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Dashboard
                    <small class="text-muted">Patient Portal</small>
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-6">
                <div class="card">
                    <ul class="row profile_state list-unstyled">
                        {% for cat in buckets.0 %}
                            <li class="col-lg-6 col-md-6 col-sm-12">
                                <a href="#" data-toggle="modal" data-target="#{{ cat.0|replace_space }}">
                                    <div class="body">
                                        <i class="zmdi zmdi-account col-blue"></i>
                                        <h4>{{ cat.0 }}</h4>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <ul class="row profile_state list-unstyled">
                        {% for cat in buckets.1 %}
                            <li class="col-lg-6 col-md-6 col-sm-12">
                                <a href="#" data-toggle="modal" data-target="#{{ cat.0|replace_space }}">
                                    <div class="body">
                                        <i class="zmdi zmdi-account col-amber"></i>
                                        <h4>{{ cat.0 }}</h4>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {#        <div class="row clearfix">#}
        {#            <div class="col-lg-6">#}
        {#                <div class="card">#}
        {#                    <ul class="row profile_state list-unstyled">#}
        {#                        <li class="col-lg-6 col-md-6 col-sm-12">#}
        {#                            <div class="body">#}
        {#                                <i class="zmdi zmdi-camera col-amber"></i>#}
        {#                                <h4>2,365</h4>#}
        {#                                <span>Shots View</span>#}
        {#                            </div>#}
        {#                        </li>#}
        {#                        <li class="col-lg-6 col-md-6 col-sm-12">#}
        {#                            <div class="body">#}
        {#                                <i class="zmdi zmdi-camera col-amber"></i>#}
        {#                                <h4>2,365</h4>#}
        {#                                <span>Shots View</span>#}
        {#                            </div>#}
        {#                        </li>#}
        {#                    </ul>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="col-lg-6">#}
        {#                <div class="card">#}
        {#                    <ul class="row profile_state list-unstyled">#}
        {#                        <li class="col-lg-6 col-md-6 col-sm-12">#}
        {#                            <div class="body">#}
        {#                                <i class="zmdi zmdi-camera col-amber"></i>#}
        {#                                <h4>2,365</h4>#}
        {#                                <span>Shots View</span>#}
        {#                            </div>#}
        {#                        </li>#}
        {#                        <li class="col-lg-6 col-md-6 col-sm-12">#}
        {#                            <div class="body">#}
        {#                                <i class="zmdi zmdi-camera col-amber"></i>#}
        {#                                <h4>2,365</h4>#}
        {#                                <span>Shots View</span>#}
        {#                            </div>#}
        {#                        </li>#}
        {#                    </ul>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
{% endblock %}

{% block extrascript %}
    {% include 'patient_ui/app/modal.html' %}
{% endblock %}