{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="title" content="{{ metadata.title|default:"" }} - Tradel India">
    <meta name="description" content="{{ metadata.description|default:"" }}">
    <title>{{ metadata.title|default:"" }} - Tradel India</title>

    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'adminpanel/assets/images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'adminpanel/assets/images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'adminpanel/assets/images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'adminpanel/assets/images/favicons/site.webmanifest' %}">

    <meta name="msapplication-TileColor" content="#F26522">
    <meta name="theme-color" content="#F26522">

    <meta name="og:title" content="{{ metadata.title|default:"" }} - Tradel India">
    <meta name="og:image" content="{{ metadata.image|default:"" }}">
    <meta name="og:description" content="{{ metadata.description|default:"" }}">
    <meta name="og:type" content="{{ metadata.type|default:"website" }}">
    <meta name="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">

    <!-- Favicon-->
    {#    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">#}
    <link rel="stylesheet" href="{% static 'adminpanel/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'adminpanel/assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'adminpanel/assets/css/authentication.css' %}">
    <link rel="stylesheet" href="{% static 'adminpanel/assets/css/color_skins.css' %}">
    {% block extracss %}{% endblock %}
</head>
<body class="theme-orange">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <p>Please wait...</p>

        <div class="m-t-30"><img src="{% static 'adminpanel/assets/images/logo.png' %}" alt="Tradel India"
                                 style="width: 150px;" width="150">
        </div>
    </div>
</div>
<!-- Overlay For Sidebars -->
<div class="overlay"></div>

{% block content %}{% endblock %}

<!-- Jquery Core Js -->
<script src="{% static 'adminpanel/assets/bundles/libscripts.bundle.js' %}"></script>
<!-- Lib Scripts Plugin Js -->
<script src="{% static 'adminpanel/assets/bundles/vendorscripts.bundle.js' %}"></script>
<!-- Lib Scripts Plugin Js -->

<script src="{% static 'adminpanel/assets/bundles/jvectormap.bundle.js' %}"></script>
<!-- JVectorMap Plugin Js -->
<script src="{% static 'adminpanel/assets/bundles/morrisscripts.bundle.js' %}"></script>
<!-- Morris Plugin Js -->
<script src="{% static 'adminpanel/assets/bundles/sparkline.bundle.js' %}"></script>
<!-- Sparkline Plugin Js -->
<script src="{% static 'adminpanel/assets/bundles/knob.bundle.js' %}"></script>
<!-- Jquery Knob Plugin Js -->
<script src="{% static 'adminpanel/assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static 'adminpanel/assets/js/pages/index.js' %}"></script>
<script src="{% static 'adminpanel/assets/js/pages/charts/jquery-knob.min.js' %}"></script>
{% block extrascript %}{% endblock %}
</body>
</html>