{% load static %}

<!-- Top Bar -->
<nav class="navbar">
    <div class="col-12">

        <div class="navbar-header">
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="{% url 'superdash:dashboard' %}">Tradel India</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'my_profile' %}" class="js-right-sidebar" data-close="true"
                   title="My Profile"><i class="zmdi zmdi-account"></i></a>
            </li>
            <li>
                <a href="{% url 'logout' %}" class="mega-menu" data-close="true"
                   onclick="return confirm('Sure you want to logout?')"><i class="zmdi zmdi-power"></i></a>
            </li>
        </ul>
    </div>
</nav>
<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        {#        <div class="image">#}
        {#            <img src="{% static 'assets/images/xs/avatar1.jpg' %}" width="48" height="48"#}
        {#                 alt="{{ request.user.first_name }} {{ request.user.last_name }}"/>#}
        {#        </div>#}
        <div class="info-container">
            <div class="name"
                 data-toggle="dropdown">{{ request.user.first_name }} {{ request.user.last_name }}</div>
            <div class="email">{{ request.user.email }}</div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a href="{% url 'superdash:dashboard' %}">
                    <i class="zmdi zmdi-home"></i><span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-toggle waves-effect waves-block">
                    <i class="zmdi zmdi-accounts"></i><span>Users</span>
                </a>
                <ul class="ml-menu">
                    <li><a href="{% url 'superdash:superusers' %}">Superusers</a></li>
                    <li><a href="{% url 'superdash:promoters' %}">Promoters</a></li>
                    <li><a href="{% url 'superdash:clients' %}">Clients</a></li>
                    <li><a href="{% url 'superdash:supervisors' %}">Supervisors</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'superdash:all_stores' %}">
                    <i class="zmdi zmdi-store"></i><span>Stores</span>
                </a>
            </li>
            <li>
                <a href="{% url 'superdash:listing_drives' %}?search=1&type=all">
                    <i class="zmdi zmdi-car"></i><span>Drives</span>
                </a>
            </li>
            <li>
                <a href="{% url 'superdash:cities' %}">
                    <i class="zmdi zmdi-pin"></i><span>Cities</span>
                </a>
            </li>
            <li>
                <a href="{% url 'superdash:drive_types' %}">
                    <i class="zmdi zmdi-format-list-numbered"></i><span>Types</span>
                </a>
            </li>
            <li>
                <a href="{% url 'superdash:status_remarks' %}">
                    <i class="zmdi zmdi-comment-alt-text"></i><span>Remarks</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
</aside>